.dashboard-merchantDropDown .p-dropdown-trigger, .dashboard-storeMultiSelect .p-multiselect-trigger {
  display: none !important;
}
.dashboard-merchantDropDown .p-dropdown,.dashboard-storeMultiSelect .p-multiselect, .dashboard-merchantDropDown .p-autocomplete{
  height: 45px;
  border-color: rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 10px;
}
.dashboard-merchantDropDown .p-inputgroup-addon:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard-merchantDropDown .p-inputgroup-addon:last-child, .p-inputgroup>.p-inputwrapper:last-child>.p-component, .p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext, .p-inputgroup button:last-child, .p-inputgroup input:last-child{
  border-left-color: transparent;
  // font-size: .65rem;
}

.dashboard-merchantDropDown .p-inputtext-sm{
  padding: 0.5rem !important;
  border-left: transparent;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.headingwelcome {
  font-family: Sofia Pro;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  color: #2E446E;
}
.mainh{
  font-weight: 300;
}
.headingmerchantnamedash{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2E446E;
}
.dashboard-merchantDropDown .p-dropdown:not(.p-disabled):hover{
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-dropdown:not(.p-disabled):hover{
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-dropdown:not(.p-disabled):hover {
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-dropdown:not(.p-disabled).p-focus{
  outline: 0 rgba(0,0,0,.12);
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem rgba(0,0,0,.12);
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-autocomplete .p-inputtext:enabled:hover {
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: rgba(0,0,0,.12);
}
.dashboard-merchantDropDown .p-autocomplete-token{
  // background: rgba(46, 68, 110, 0.19) !important;
  // color: #2E446E !important;
  // margin-right: 0.5rem;
  background: rgba(46,68,110,.19)!important;
  color: #2e446e!important;
  border-radius: 3px;
  // font-size: .65rem;
  // padding: 8px;
}
.dashboard-summary-cards{
  background: #FFFFFF;
  box-shadow: 0px 12.7812px 42.6042px rgba(160, 163, 189, 0.1);
  border-radius: 8.52083px;
}
.dashboard-summary-card-footer {
  background: #E9E9EC;
  box-shadow: 0px 12.7812px 42.6042px rgba(160, 163, 189, 0.1);
  border-radius: 0px;
  height: 50px;
  padding-bottom: 0px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  // display: flex;
  align-items: center;
  color: #2E446E;
}
.dashboard-summary-card-body{
  height: 100px;
}
.dashboard-summary-card-body img{
  width: 45px;
}
.dashboard-chartcard{
  background-color: #ffffff;
  background: #FFFFFF;
  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 10px;
}
.dashboard-chartcard h3{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  color: #2E446E;
}
.dashboarddatametricsheading{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 10px;
  // display: flex;
  align-items: center;
  color: #2E446E;
}
.dashboarddatametricstitle{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(49, 98, 127, 0.75);
}
.dashboarddatamerictitle1 {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #B9B9B9;
}
.dashboardcardfooterheading1{
  font-family: Sofia Pro;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  // display: flex;
  align-items: center;
  color: #2E446E;
}
.dashboardcardfooterheading2{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  // display: flex;
  align-items: center;
  color: #2E446E;
}
.settleddatecardfooter{
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  align-items: center;
  text-align: center;
  color: rgba(46, 68, 110, 0.7);
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -130px;
}
.border-bottom-dash-header{
  border-bottom: 1px solid #ebecef;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.negativefeedback {

}
.neutralfeedback {

}
.positivefeedback {

}
.full-height.one {
  left: 22.5%;
}
.full-height.two {
  right: 22.5%;
}
.footer-border li:not(:last-child) {
  border-right: 1px solid #ebecef;
}
.footer-border h5{
  color: #2E446E;
  font-weight: 400;
  font-size: 0.75rem !important;
}
.footer-border img{
  width: 12px;
  margin-top: -5px;
}
.footer-border span{
  font-size: 1.4rem !important;
  font-weight: 400;
}
.footer-border li {
  text-align: center;
  list-style-type: none;
  padding: 0.625rem;
  display: inline-block;
}
.w-33 {
  width: 33%!important;
}
// .p-dropdown.p-dropdown-clearable .p-dropdown-label {
//   padding-right: 1.5rem;
// }
// .p-dropdown .p-dropdown-label {
//   background: transparent;
//   border: 0 none;
// }

// .card-child{
//   margin: 1%;
//   max-width: 40%;
// }

// .card-max-width{
//   max-width: 30%;
// }

// .single-card{
//   border-radius: 5% !important;
//   font-size: 0.8rem;
//   font-weight: bold;
// }

// @media screen and (max-width: 960px) {
//   .card-child{
//     margin: 1%;
//     max-width: 90%;
//   }
//   .card-max-width{
//     max-width: 100%;
//   }
// }


// .demo-chart {
//     height: 300px;
//     width: 100%;
//   }

// .cardformat{

//   text-align: center;
//   font-size: 1.5rem;

// }

// // .drpdown{
// //   width: 100% !important;
// //   }

//   .mymultiselect{
//     width: 100% !important;
//   }

// .cardheaderformat{
//   padding: 10px !important;
//   text-transform: capitalize !important;
// }


// .card .card-header h5 {
//   font-size: 18px;
//   margin-bottom: 0;
//   text-transform: capitalize;
//   font-weight: 600;
// }


// .btn-primary-gradien {
//   background-image: none;
//   background-color: #454547 ;
//   border: none;
//   color: #fff;
//   background-size: auto 200%;
//   transition: all 0.3s ease;
// }

// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
//   background-color: rgba(12, 13, 16, 0.9) !important;
//   border-color: rgba(12, 13, 16, 0.9) !important;
// }

// .btn-primary {
//   background-color: rgba(12, 13, 16, 0.9) !important;
//   border-color: rgba(12, 13, 16, 0.9) !important;
// }



// .btn-primary-gradien:focus, .btn-primary-gradien:active, .btn-primary-gradien.active {
//   transition: 1.5s;
//   background-color:#4BB4B0 ;
//   background-position: right center;
//   background-image: none !important;
// }

// .card {
//   margin-bottom: 30px;
//   border: 0px;
//   transition: all 0.3s ease;
//   letter-spacing: 0.5px;
//   border-radius: 8px;
//   box-shadow: 1px 5px 24px 0 rgba(0, 0, 0, 0.15);
// }

// .centerheader{
//   display: flex !important;
//   align-items: center;

// }

// .endplacement{
//   place-content: flex-end;
// }

// .h5, h5 {
//     font-size: .8125rem;
// }

// .font-weight-bold {
//   font-weight: 600!important;
// }

// .mb-0, .my-0 {
//   margin-bottom: 0!important;
// }
// .h2, h2 {
//   font-size: 1.25rem;
// }
// .card-dash{
//   padding: 2px;
// }

// .border-top-primary {
//   border-top: solid #5969ff!important;
// }

// .bg-success-light {
//   background-color: #c5fad3!important;
// }

// .metric-label:last-child {
//     margin-top: 0;
//     margin-bottom: 0;
// }
// .text-success {
//     color: #2ec551!important;
// }
// .font-weight-bold {
//   font-weight: 700!important;
// }

// .icon-xs {
//   height: 20px;
//   width: 20px;
//   line-height: 20px;
// }

// .rounded-circle {
//   border-radius: 50%!important;
// }
// .h-90 {
//   height: 90% !important;
// }
// .custom-card {
//   margin-bottom: 20px;
//   border: 0;
//   box-shadow: 0 8px 16px 0 rgba(162, 169, 204,.24);
// }

// .card-title {
//   font-weight: 500;
//   color: #334151;
//   font-size: 15px;
//   line-height: 1;
// }

// .d-flex {
//   display: flex !important;
// }

// .card-sub-title {
//   font-size: 13px;
//   margin-top: -4px;
// }

// .ml-auto, .mx-auto {
//   margin-left: auto !important;
// }
// .bg-gradient-red {
//   background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
// }
// [class*=shadow] {
//   transition: all .15s ease;
// }
// .icon-shape i, .icon-shape svg {
//   font-size: 1.25rem;
// }
// .ni-active-40::before {
//   content: "\ea02";
// }
// .ni {
//   display: inline-block;
//   font: normal normal normal 14px/1 NucleoIcons;
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
