

<!-- 
<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4">
      <div class="d-flex justify-content-between align-items-center">
          <h5 class="total-amount">Otp will be sent to </h5>
      </div>
      <div class="pt-4"> <label class="d-flex justify-content-between"> <span class="label-text label-text-cc-number">CARD NUMBER</span></label> <input type="tel" name="credit-number" class="form-control credit-card-number" maxlength="19" placeholder="Card number"> </div>
      <div class="d-flex justify-content-between pt-4">
          <div> <label><span class="label-text">one</span> </label> <input type="date" name="expiry-date" class="form-control expiry-class" placeholder="MM / YY"> </div>
          <div> <label><span class="label-text">CVV</span></label> <input type="tel" name="cvv-number" class="form-control cvv-class" maxlength="4" pattern="\d*"> </div>
      </div>
      <div class="d-flex justify-content-between pt-5 align-items-center"> <button type="button" class="btn cancel-btn">Cancel</button> <button type="button" class="btn payment-btn">Make Payment</button> </div>
  </div>
</div> -->



<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Geeks of Geeks
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="dateOfBirth">
                  Date of birth
              </label>
              <div class="input-group">
                  <input id="dateOfBirth" 
                      class="form-control" 
                      placeholder="yyyy-mm-dd" 
                      name="dp" ngbDatepicker
                      #dp="ngbDatepicker">

                  <div class="input-group-append">
                      <button class="btn 
                          btn-outline-secondary calendar"
                          (click)="dp.toggle()"
                          type="button">
                      </button>
                  </div>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" 
          class="btn btn-outline-dark" 
          (click)="modal.close('Save click')">
          Save
      </button>
  </div>
</ng-template>
