.bkground {
    background: linear-gradient(
45deg, #cee7b9 0%, #9fd5c8 100%) !important;
    color: black;
}

.p-button-label{
    font-size: 80%;
  }

.p-sidebar-bottom {
    height: 45% !important;
    border-radius: 40px !important;
}