<!-- <div class="container-fluid" [class.sidebaron]="sidebaron"> -->


      <div class="row" style="justify-content: center;">
        <div class="authentication-box contact-profile-form">
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col-12">
              <span style="font-size: x-small;color: darkgray;">Change Password</span>
            </div>
            <div class="col-12">
              <span><b>{{this.childName!==''? this.childName : this.parentName }}</b></span>
            </div>
            <div class="col-12">
              <span style="font-size: x-small;color: darkgray;">{{this.parentName}}</span>
            </div>
            </div>
            </div>
            <div class="card-body" style="padding-top: 0px;">
              <form class="theme-form" style="padding-top: 0px;" [formGroup]="changePasswordForm">
                <div class="form-group"  >
                  <label class="col-form-label pt-0">Password</label>
                  <input pPassword class="form-control" formControlName="password" type="text"/>
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="text text-danger mt-1" *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>

                <div class="form-group form-row mt-3 mb-0" style="place-content: center;">
                  <div class="row">
                    <div class="col-6">
                  <button pButton pRipple type="button" label="Submit" class="p-button-raised p-button-success" (click)="submit(changePasswordForm.value)" [disabled]="!changePasswordForm.valid"></button>
                </div>
                <div class="col-6">
                  <button pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-secondary" (click)="cancel()"></button>
                </div>
                </div>
              </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

  <!-- </div> -->

