<p-toast key="myKey1" [baseZIndex]="55555" ></p-toast>
<p-sidebar *ngIf="this.smallscreen" [blockScroll]="true"  [(visible)]="visibleSidebar4" position="bottom"
  [baseZIndex]="10000">
  <h4 style="font-weight:normal">{{sidebarheader}}</h4>
  <div class="row">
    <div class="col-12 centerdt">
      <p-listbox [listStyle]="{'max-height':'176px'}" [options]="merchantsData" [(ngModel)]="selectedMerchants"
        optionLabel="name" [filter]="true" filterBy="name" optionValue="id"></p-listbox>
    </div>
    <div class="col-12" style="margin-top: 3%;text-align: center;">
      <div class="row">
        <div class="col-6">
          <p-button type="button" class="bwidth" (click)="visibleSidebar4 = false" label="Cancel"
            styleClass="p-button-secondary bwidth"></p-button>
        </div>
        <!-- <div style="float: right;"> -->
        <div class="col-6">
          <p-button type="button" class="bwidth"
            (click)="getSubMerchantsByParents(selectedMerchants);visibleSidebar4 = false" label="Select"
            styleClass="p-button-success bwidth"></p-button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</p-sidebar>

<p-sidebar *ngIf="this.smallscreen" [blockScroll]="true" [(visible)]="visibleStore" position="bottom"
  [baseZIndex]="10000">
  <h4 style="font-weight:normal">Select Store</h4>
  <div class="row">
    <div class="col-12 centerdt">
      <p-listbox [checkbox]="true" [multiple]="true" [listStyle]="{'max-height':'176px'}" [options]="subMerchantsData"
        [(ngModel)]="selectedSubMerchants" optionLabel="name" [filter]="true" filterBy="name"></p-listbox>
    </div>
    <!-- <p-multiSelect #selsubmerchant [maxSelectedLabels]= "2" inputId="selmerchantinput" (click)="onClickSubMerchant(selsubmerchant)"  [options]="subMerchantsData" [(ngModel)]="selectedSubMerchants" defaultLabel="Select Stores" optionLabel="name" display="chip"></p-multiSelect> -->
    <div class="col-12" style="margin-top: 3%;text-align: center;">
      <div class="row">
        <div class="col-6">
          <p-button type="button" class="bwidth" (click)="visibleStore = false" label="Cancel"
            styleClass="p-button-secondary bwidth"></p-button>
        </div>
        <!-- <div style="float: right;"> -->
        <div class="col-6">
          <p-button type="button" class="bwidth" (click)="getTransactions(undefined);visibleStore = false"
            label="Select" styleClass="p-button-success bwidth"></p-button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</p-sidebar>

<!-- <div class="container-fluid" style="margin-left: 3%;max-width: 95%;"> -->
<c-card  class="card-bkground card" style="padding: 1%;">
  <div class="row">
    <div class="col-12">
      <div class="col-sm-12 col-12" style="padding-left: 0px !important;padding-right: 0px !important;" *ngIf="transactionsData">
        <div>
          <h4 style="padding-top: 2%;"><b>Feedback</b></h4>
          <p-skeleton *ngIf="!this.showfirst" height="1rem" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-12" style="margin-bottom: 2%;" >
      <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
      <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
      <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
      <div *ngIf="this.showfirst">
      <div class="col-lg-12 col-12" *hasRole="[Role.SuperUser, Role.Admin,Role.Shop]">
        <div class="col-lg-12 col-12" style="margin-bottom: 2%;" *hasRole="[Role.SuperUser]">
          <div>
            <span class="f-color">Merchant</span><br>
            <div >
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon border-right-0 bg-white "> <i class="pi pi-search"></i> </span>
              <p-autoComplete
            placeholder = "Merchant Name"
            styleClass='searchdrpdwn input-border-radius w-100 border-left-none'
            [(ngModel)]="selectedMerchants"
            [suggestions]="merchantsData"
            [showEmptyMessage] = "true"
            emptyMessage = "No Merchants Found"
            (completeMethod)="filterMerchant($event)"
            [forceSelection] = "true"
            field="name"
            [minLength]="3"
            (onSelect) = "getSubMerchantsByParents(selectedMerchants)"
        ></p-autoComplete>
      </div>

              <!-- <p-dropdown styleClass='drpdown p-inputtext-sm' #selmerchant
                (click)="onClickParentMerchant(selmerchant)" [options]="merchantsData"
                (onChange)="getSubMerchantsByParents(selectedMerchants)" [(ngModel)]="selectedMerchants"
                placeholder="Select Parent" optionLabel="name" optionValue="id" [filter]="true" filterBy="name">
              </p-dropdown> -->
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-12" style="margin-bottom: 2%;" *hasRole="[Role.SuperUser, Role.Admin]">
          <span class="f-color">Select Store</span><br>
          <div>
            <p-multiSelect styleClass='mymultiselect input-border-radius border-left-none' tooltipStyleClass='ttltip' #selsubmerchant
              [maxSelectedLabels]="2" inputId="selmerchantinput"
              (onPanelHide) = "getTransactions(undefined)"
              [options]="subMerchantsData" [(ngModel)]="selectedSubMerchants" defaultLabel="Select Stores"
              optionLabel="name" display="chip">
              <!-- <p-footer>
                <button style="margin: 1%;" pButton type="button" label="Close"
                  style="background: white;color: black;" (click)="closemulti()"></button>
                <button style="margin: 1%;" pButton style="float: right;background-color: #689F38;" type="button"
                  label="Select" (click)="closemulti();getTerminals()"></button>
              </p-footer> -->
            </p-multiSelect>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-lg-6 col-12" *ngIf="this.showfirst" style="margin-bottom: 2%;">
  <div class="row">
    <p-skeleton class="col-lg-3 col-6"  *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
    <p-skeleton class="col-lg-3 col-6" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
    <div class="col-lg-4 col-6" style="margin-bottom: 5%;"  >
      <!-- <form [formGroup]="form"> -->
        <span class="fieldttitle margin-left-16 f-color" >From </span><br>
        <div class="fieldttitle" style="float: right;">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon border-right-0 bg-white "> <i class="pi pi-calendar"></i> </span>
          <p-calendar  [style]="{'width':'100% !important'}"
            [selectOtherMonths]="true" [inputStyle]="{'width':'100% !important'}" [maxDate]="today"
              [(ngModel)]="fromDate"  id="picker" [touchUI]="this.smallscreen"
            inputId="picky" [readonlyInput]="true" (onClose)="getTransactions(undefined)"
            placeholder="From Date">
            <!-- <p-footer>
              <div class="row">
                <div class="col-6" style="text-align: center;">
                  <button pButton class="p-button-sm" type="button" label="Close"
                    style="background: white;color: black;min-inline-size: -webkit-fill-available;"
                    ></button>
                </div>
                <div class="col-6" style="text-align: center;">
                  <button class="p-button-sm" pButton style="min-inline-size: -webkit-fill-available;"
                    type="button" label="Select" (click)="getTransactions(undefined)"></button>
                </div>
              </div>
            </p-footer> -->
          </p-calendar>
        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-lg-4 col-6">

      <!-- <form [formGroup]="form"> -->
        <span class="fieldttitle f-color">To </span><br>
        <div class="fieldttitle" style="float: left;">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon border-right-0 bg-white "> <i class="pi pi-calendar"></i> </span>
          <p-calendar  [style]="{'width':'100% !important'}"
            [selectOtherMonths]="true" [inputStyle]="{'width':'100% !important'}" [maxDate]="today"
              [(ngModel)]="toDate"  id="picker" [touchUI]="this.smallscreen"
              inputId="picky" [readonlyInput]="true" (onClose)="getTransactions(undefined)"
            placeholder="To Date">
            <!-- <p-footer>
              <div class="row">
                <div class="col-6" style="text-align: center;">
                  <button pButton class="p-button-sm" type="button" label="Close"
                    style="background: white;color: black;min-inline-size: -webkit-fill-available;"
                    ></button>
                </div>
                <div class="col-6" style="text-align: center;">
                  <button class="p-button-sm" pButton style="min-inline-size: -webkit-fill-available;"
                    type="button" label="Select" (click)="getTransactions(undefined)"></button>
                </div>
              </div>
            </p-footer> -->
          </p-calendar>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
    </div>
  </div>

</c-card>
  <!-- </div> -->

<c-card>
  <c-card  class="card-bkground card" style="padding: 1%;height: 200px;box-shadow: none;">
    <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
    <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>
    <p-skeleton class="col-lg-6 col-12" *ngIf="!this.showfirst" height="2rem" styleClass="p-mb-2"></p-skeleton>

    <div *ngIf="this.avg_feedback  > 0" class="col-12" style="margin-top: 1%;max-width: 300px;text-align: center;">

        <span style="font-weight: bold;">Average Rating</span><br>
        <div echarts [options] = "feedback_chart" style="height: 276px;" ></div>
        <!-- <span style="font-weight: bold;font-size: larger;">{{avg_feedback}}</span> <br> -->
        <!-- <span>({{this.transactionsDataCount}} feedbacks)</span> -->

      <!-- <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
    </div>
  </c-card>
<p-table *ngIf="this.showfirst" #dt [autoLayout]="true" [columns]="cols" [value]="transactionsData"
  [(selection)]="selectedMerchants" [lazy]="true" (onLazyLoad)="getTransactions($event)" dataKey="id"
  styleClass="p-datatable-transactions p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" [totalRecords]="transactionsDataCount"
   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
  <ng-template pTemplate="caption">
    <div class="p-d-flex row">
    </div>
    <div class="table-header">

    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>

    <!-- <tr> -->
    <!-- <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
    <!-- <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')" placeholder="Search by Name" class="p-column-filter">
                </th> -->
    <!-- <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter">
                </th>
                <th>
                    <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">
                        <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.label}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </th>
                <th>
                    <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                </th>
                <th>
                    <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                        </ng-template>
                    </p-dropdown>
                </th>
                <th>
                    <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter" >
                </th>
                <th></th> -->
    <!-- </tr> -->

    <tr style="font-size: small;">
      <th style="width: 2%;text-align-last: left;">
        Store Name
      </th>
      <th style="width: 2%;text-align-last: center;" *ngFor="let col of columns">
        {{col.header}}
      </th>
      <!-- <p-sortIcon [field]="columnscode[i]"></p-sortIcon> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction let-columns="columns">
    <tr style="font-size: small;">

      <td class=" center-lg padd-zero-bottom margin-zero" style="text-overflow: ellipsis;text-transform: capitalize;">
        <span class="pad-left-3 p-column-title">Store Name</span>
        <span class="rowvaluealigncol1  pad-top-3 pad-right-3 valuetext">
          {{stripName(transaction.merchant_name)}}</span> <br>

      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Customer Name</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext">
          {{stripName(transaction.custname) | titlecase }}</span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Phone</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext">
          {{transaction.phone }}</span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">No. of Visits</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext"> {{transaction.freq}} </span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Last Visit</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext"> {{transaction.last_visit}}</span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Visit Pattern</span>
        <span *ngIf="transaction.visit_pattern  === 0" class="rowvaluealign pad-top-3 pad-right-3 valuetext"> Not Available</span>
        <span *ngIf="transaction.visit_pattern > 0" class="rowvaluealign pad-top-3 pad-right-3 valuetext"> Once in {{ (transaction.visit_pattern) }} days</span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Avg. Transaction</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext">
          {{ transaction.avg_trans === 'Not Available' ? 'Not Available' : (transaction.avg_trans | inr ) }}</span> <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom">
        <span class="p-column-title pad-left-3">Rating</span>
        <span class="rowvaluealign pad-top-3 pad-right-3 valuetext">{{transaction.rating}}</span>
        <br>
      </td>
      <td class="alignoptions padd-zero-top-bottom" style="text-align-last: left;" >
        <span class="p-column-title pad-left-3">Working Well&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div style="flex: auto;margin-top: 5%;">
&nbsp;
            <div class="row" *ngFor="let col of stringToArray(transaction.dw_areas)">
              <div class="col-12" style="margin: 0.5%;">
            <p-chip [label]="col" styleClass="p-mr-2 dw-chips"></p-chip>
          </div>
          </div>

        </div>
      </td>
      <td class="alignoptions padd-zero-top" style="text-align-last: left;">
        <span class="p-column-title pad-bottom-3 pad-left-3 ">Needs Improvement&nbsp;</span>
        <div style="flex: auto;margin-top: 5%;">

        <div class="row"  *ngFor="let col of stringToArray(transaction.ni_areas)">
          <div class="col-12" style="margin: 0.5%;">
          <p-chip [label]="col" styleClass="p-mr-2 ni-chips"></p-chip>
        </div>
        </div>

      </div>
        <br>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr style="font-size: small">
      <td colspan="8">No feedbacks yet.</td>
    </tr>
  </ng-template>
</p-table>
</c-card>


