// Here you can add other styles
.c-sidebar-nav-icon.dashboard-icon-nav {
    background-image: url("../assets/icons/dashboard_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.salesanalytics-icon-nav {
    background-image: url("../assets/icons/salesanalyticsicon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.customeranalytics-icon-nav {
    background-image: url("../assets/icons/customeranalytics_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.transactions-icon-nav {
    background-image: url("../assets/icons/wallet_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.refund-icon-nav {
    background-image: url("../assets/icons/refunds_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.settlements-icon-nav {
    background-image: url("../assets/icons/settlements_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.feedback-icon-nav {
    background-image: url("../assets/icons/feedback_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.merchants-icon-nav {
    background-image: url("../assets/icons/merchants_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.qrcode-icon-nav {
    background-image: url("../assets/icons/qr_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.notification-icon-nav {
    background-image: url("../assets/icons/notifications_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}
.c-sidebar-nav-icon.settings-icon-nav {
    background-image: url("../assets/icons/settings_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    // margin-bottom: -4px;
}