.input-border-radius .p-inputtext{
  border-radius: 8px;
}

.input-border-radius .p-multiselect{
  border-radius: 8px;
}

.f-color{
  color: #2E446E;
  font-weight: bolder;
}

.w-100 .p-inputtext{
  width: 100%;
}

.mymultiselect.p-multiselect-chip .p-multiselect-token{
  background: rgba(46, 68, 110, 0.19) !important;
  color: #2E446E !important;
}
